/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vh;
    background-color: #12181f;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-size: xx-large;
}

p {
    font-size: x-large;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.actions {
    display: flex;
    flex-direction: column;
}

/* Buttons class */
.actions button {
    padding: 0.7rem 3rem;
    font-size: large;
    border-radius: 0.8rem;
    background-color: red;
    color: white;
    margin-bottom: 1rem;
}

/* The Modal (background) */
.window {
    /* Hidden */
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Scroll feature */
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* Window Content */
.window-content {
    background-color: black;
    /* Centered */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Close Button */
.close-window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cards {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 110px);
    grid-template-rows: repeat(2, calc(105px /2 * 3));
}

/* https://www.w3schools.com/cssref/pr_background-image.php */
.card {
    display: grid;
    justify-content: center;
    height: 165px;
    width: 120px;
    background-image: url(../images/cards/card.jpg);
    background-size: cover;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s all ease;
}

.card:hover {
    transform: scale(1.03);
}

/* Pokemon card image */
.card img {
    height: 165px;
    width: 120px;
    border-radius: 10px;
    opacity: 0;
    transition: 0.3s all ease;
}

/* Show card */
.card.clicked img,
.card.checked img {
    opacity: 1;
}

.card.shake {
    animation: shake 0.5s;
}

/* Shake animation */
@keyframes shake {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* Media query: small screens cellphones (480px and up) */
@media screen and (max-width: 480px) {

    h2,
    p {
        font-size: 1rem;
    }

    header {
        padding: 1rem 0.5rem;
    }
}

/* Media query: medium screens tables */
@media only screen and (min-width: 481px) and (max-width: 768px) {

    h2,
    p {
        font-size: 1.5rem;
    }

    header {
        padding: 1rem 1rem;
    }
}

/* Media query: larger screens laptops and tables (769px and up) */
@media screen and (min-width: 769px) {}

/* Media query: larger devices (992px and up) */
@media screen and (min-width: 992px) {}

/* Media query: larger screen devices (1200px and up) */
@media screen and (min-width: 1200px) {}